<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @time_sheet.hours %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @time_sheet.comment %>
</p>

<p>
  <strong>Project:</strong>
  <%= @time_sheet.project %>
</p>

<p>
  <strong>Task:</strong>
  <%= @time_sheet.task %>
</p>

<%= link_to 'Edit', edit_time_sheet_path(@time_sheet) %> |
<%= link_to 'Back', time_sheets_path %>
