<!DOCTYPE html>
<html>
  <head>
    <title>PlayTasks - The Best Productivity App!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>

  	<div class="container">
    	<%= yield %>
    <div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
